.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    height: 100vh;
    padding: 20px;
}

.chat-container {
    width: 50%;
    height: 100%;
    padding: 10px;
    background-color: darkgrey;
    color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.chat-history {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: darkgrey;
    border-radius: 5px;
}

.chat-input {
    display: flex;
    align-items: center;
}

.chat-message {
    margin: 5px 0;
}

.text-message {
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.own-message {
    text-align: right;
    background-color: floralwhite;
    color: black;
    border-radius: 5px;
    margin-left: 20%;
}

.other-player-message {
    text-align: left;
    background-color: floralwhite;
    color: black;
    border-radius: 5px;
    margin-right: 20%;
}

input[type="text"] {
    width: calc(100% - 60px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
    background-color: #333;
    color: white;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.voting-container {
    width: 45%;
    height: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: auto;
}

.player-card {
    width: calc(50% - 10px);
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.player-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.player-name {
    text-align: center;
    color: white;
}
